:root {
  --bs-primary: #02c9c2;
  --bs-primary-rgb: 2, 201, 194;
}

.report-header {
  padding: 0;
  margin: 0;
}

.logo-stack {
  margin: 0;
  padding: 0;
}

.report-logo {
  max-width: 300px;
  display: block;
  margin: 0;
  padding: 0;
}

.patient-info {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.patient-label {
  color: #6c757d;   /* similar a text-muted de Bootstrap */
  font-weight: normal;
  margin-right: 2px;
  margin-bottom:2px; 
}

.patient-value {
  font-weight: 600; /* equivalente a fw-bold */
}

.institution-info {
  padding-top: 10px;
}

.mutation{
  display: inline-block;     /* necesario para permitir width fijo */
  min-width: 50px;           /* o el ancho que quieras */
  text-align: center;        /* centrado del texto dentro del badge */
  font-weight: 600;          
  padding: 0.35rem 0.5rem;   /* tamaño del badge */
  color:#000;
}

.highlight-row td {
    border-top: 2px solid #ffc107 !important;
    border-bottom: 2px solid #ffc107 !important;
}

 #chartARV-print-div {
  display: none;
 }

@media print {

  /* Quitar márgenes y limitar ancho máximo */
  #reportContainer {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  /* Opcional: eliminar márgenes verticales */
  body, html {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* También debemos forzar que los .row y .col no añadan padding innecesario */
  .row, .col, .col-md-12 {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* Bootstrap mete padding horizontal en .container → lo eliminamos */
  .container {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #panel_targaChart,
  .dr-report-comment-by-types {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }

  


  .report-header {
    page-break-inside: avoid;
  }
  .report-logo {
    max-width: 150px;
  }
   #patientHeader,
  .patient-info {
    font-size: 0.75rem !important;  /* Ajusta el valor hasta que quede perfecto */
  }

  #patientbox_name {
    font-size: 1rem !important;      /* Antes fs-4, aquí lo reducimos expresamente */
  }

  #patientbox_identifiers,
  #patientbox_info_dem,
  #patientbox_info_hiv,
  #patientbox_info_hiv2,
  #institution_info {
    font-size: 0.8rem !important;
  }
}
